<%- include("../includes/main.ejs") %>
<div class="section">
    <div class="container is-max-desktop">
        <h1 class="title has-text-info">Admin Store Page</h1>
        <p class="subtitle">Here, We can find all products in our store.</p>
    </div>

    <% if(allProducts.length > 0) { %>
    <div class="container mt-5 is-max-desktop">
        <h1 class="title">All Products</h1>
        <div class="columns is-multiline">
            <% allProducts.forEach(product => { %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= product.imageUrl %>" alt="">
                    </div>
                    <div class="card-content">
                        <h1 class="title is-4"><%= product.title %></h1>
                        <p class="subtitle is-6"><%= product.description %></p>
                        <h2 class="title is-4 has-text-info">₹ <%= product.price %></h2>
                    </div>
                    <div class="card-footer">
                        <a href="/edit-product/" class="card-footer-item">Edit</a>
                        <form action="/admin/delete-product/" method="POST" class="form">
                            <button type="submit" class="card-footer-item button is-white">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <% } else {%>
    <div class="container is-max-desktop">
        <h1 class="title">No Products found. Try adding one</h1>
        <a href="/admin/addproduct" class="button:href">Add Product</a>
    </div>
    <% } %>
</div>