<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title><%= pageTitle %></title>
</head>

<body>
    <div class="container is-max-desktop">
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <h1 class="title is-4 has-text-white">K-SHOP</h1>
                </a>
            </div>
            <div class="navbar-menu" id="navbarBasicExample">
                <div class="navbar-start">
                    <!-- Home -->
                    <a href="/"
                        class="navbar-item <%= pageTitle === 'K-Shop | Your Shopping Destination' && 'active' %>">Home</a>
                    <!-- Store -->
                    <a href="/store" class="navbar-item <%= pageTitle === 'K-Shop | Store' && 'active' %> ">Store</a>
                    <!-- Cart -->
                    <a href="/cart" class="navbar-item <%= pageTitle === 'K-Shop | Cart' && 'active' %> ">Cart</a>
                    <!-- Orders -->
                    <a href="/orders" class="navbar-item <%= pageTitle === 'K-Shop | Orders' && 'active' %> ">My
                        Orders</a>
                </div>

                <div class="navbar-end">
                    <!-- Add Product -->
                    <a href="admin/addproduct"
                        class="navbar-item <%= pageTitle === 'K-Shop | Add a Product' && 'active' %>">Add
                        Product</a>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>