<%- include("../includes/main.ejs") %>
<div class="section">
    <div class="container is-max-desktop">
        <h1 class="title has-text-info">Your Cart</h1>
        <% if(products.length > 0){ %>
        <table class="table">
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Manage</th>
            </tr>
            <% products.forEach(product => { %>
            <tr>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.cartItem.quantity %></td>
                <td>
                    <form action="/removefromcart/<%= product.id %>" class="form" method="POST">

                        <button class="button" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        <form action="/createorder" method="POST">
            <button type="submit" class="button">Order Now</button>
        </form>
        <hr>
        <% } else{ %>
        <h1>No products in cart</h1>
        <% } %>
    </div>
</div>