<%- include("../includes/main.ejs") %>
<div class="section">
    <div class="container is-max-desktop">
        <h1 class="title has-text-info">Your Cart</h1>
        <% if(products.length > 0){ %>
        <table class="table">
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Manage</th>
            </tr>
            <% products.forEach(product => { %>
            <tr>
                <td><%= product.productDetails.title %></td>
                <td><%= product.productDetails.price %></td>
                <td><%= product.qnty %></td>
                <td>
                    <form action="/removefromcart/<%= product.productDetails.id %>" class="form" method="POST">
                        <!-- <input type="hidden" name="productId" value="<%= product.productDetails.id %>"> -->
                        <button class="button" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
        <hr>
        <h3 class="title is-4">Your Total Price is ₹<%= cart.totalPrice %>/-</h3>
        <% } %>
    </div>
</div>