<%- include("../includes/main.ejs") %>
<div class="container mt-5 is-max-desktop">
    <div class="box">
        <h1 class="title"><%= product.title %></h1>
        <figure class="image">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </figure>
        <h1 class=" title is-info">₹ <%= product.price %></h1>
        <p><%= product.description %></p>
        <%- include("../includes/add-to-cart.ejs", {product: product}) %>
    </div>
</div>